body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header nav ul {
  list-style: none;
  background-color: #333;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content:space-around;
}

header nav ul li {
  display: inline;
  margin: 0 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  background-color: #444
  color #ccc;
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
   background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.products {
  padding: 1em;
  text-align: center;
}

h1 {
  color: #00698f;
}


@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
  nav a {
    padding: 0.5em;
  }
}

@media (max-width: 480px) {
  main {
    padding: 1em;
  }
}
footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

footer a {
  color: #fff;
}