body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

#review-form {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#review-form label {
  display: block;
  margin-bottom: 5px;
}

#review-form select, #review-form input[type="date"], #review-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 20px;
}

.rating input[type="radio"] {
  display: grid;
}

.rating label {
  font-size: 40px;
  color: #ccc;
  cursor: pointer;
}

.rating input[type="radio"]:checked ~ label {
  color: #f90;
}

#review {
  height: 100px;
}

.recommend-options {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.recommend-options div {
    margin-bottom: 5px;
}

.recommend-options label {
  display:inline-block;
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}