main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 400px;
  height: 600px;
  margin: 1em;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

