@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}
.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em;
  display: block;
}

nav a:hover {
  background-color: #555;
}

.hamburger {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

nav ul {
  display: none;
}

nav.open ul {
  display: block;
}

main {
  max-width: 350px;
  margin: 2em auto;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main h1 {
  margin-bottom: 1em;
}

figure {
  margin-bottom: 1em;
}

figure img {
  width: 100%;
  height: 50%;
  display: block;
}

figcaption {
  padding: 0.5em;
  background-color: #333;
  color: #fff;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

footer p p {
  margin-bottom: 0.5em;
}
