main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.hamburger {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  padding: 1em;
}
